* {
    font-family: helvetica;
  }

body {
  background-color: #ffffcc;
}

header {
    background-color: #BBE80C;
    opacity: .7;
  }

section {
  width: 325px;
}

button {
  height: 50px;
  border-radius: 100%;
  font-family: helvetica;
  color: white;
  background-color: #1a1a1a;
}

img {
  width: 300px;
  height: 425px;
  display: inline-block;
}

.Box {
  width: 1000px;
  margin: 0 auto;
}

.Box section {
  display: inline-block;
}
